
/* --- CAMERA --- */

.camera-box {
  background: black;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--glass-border);
  text-align: center;
  margin-top: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.scan-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #10b981;
  box-shadow: 0 0 15px #10b981, 0 0 30px #10b981;
  /* Glowing Laser */
  animation: scan 2.5s infinite ease-in-out;
  opacity: 0.8;
}